h2 {
    text-shadow: 40px;
}
h1{
    color: green;
    font-style:<style>
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');
</style> ;
}
#dadaayam{
    color: black;
}
#omega3{}
.biru-putih
}
    
.orange-hijau{
}
